# Keep environment variables secret
.env

# Foundry artifacts
out/
cache/
broadcast/

# Node modules
node_modules/

# Next.js
.next/
frontend/.next/
frontend/out/

# Vercel
.vercel

# OS files
.DS_Store
*.swp
*.swo

# IDE
.vscode/
.idea/
